<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071526453956-rbh836cd1sb97l23p7f74dbrr4heqb44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071526453956-rbh836cd1sb97l23p7f74dbrr4heqb44</string>
	<key>API_KEY</key>
	<string>AIzaSyCrwlda39KduYa7fqetyhfWn0lo9hAN09E</string>
	<key>GCM_SENDER_ID</key>
	<string>1071526453956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lowbill</string>
	<key>PROJECT_ID</key>
	<string>lowbill-36190</string>
	<key>STORAGE_BUCKET</key>
	<string>lowbill-36190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071526453956:ios:99029a69c62091b700df91</string>
</dict>
</plist>